.verticalhorizontal {
	position: absolute;
	display: table-cell;
	height: 100vh;
	width: 100vw;
	text-align: center;
	vertical-align: middle;
}
.bg-logo {
	top: 40%;
	opacity: 1;
}

svg {
	display: none;
}

body {
	overflow-x: hidden;
}
