* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}
.verticalhorizontal {
	position: absolute;
	display: table-cell;
	height: 100vh;
	width: 100vw;
	text-align: center;
	vertical-align: middle;
}
.bg-logo {
	top: 40%;
	opacity: 1;
}

svg {
	display: none;
}

.main-body-link {
	font-family: 'Inter', serif;
	font-size: 80px;
	letter-spacing: -0.1em;
	border-radius: 80px;
	border: solid 3px black;
	padding: 15px 45px;
	position: absolute;
	text-decoration: none;
	color: black;
	word-wrap: normal;
}

.main-body-link:hover {
	background: black;
	color: white;
}
